/* Fix color picker label alignment
-------------------------------------------------------------- */
.printcenter-color-picker-label label {
    vertical-align: top;
    line-height: 24px;
}


/* Info styles
-------------------------------------------------------------- */
.printcenter-info {
    min-height: 20px;
    padding: 8px 19px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 4px;
    position: relative;
}

.printcenter-info-notice {
    margin: 5px 0 15px;
    background-color: #ffffff;
    border: 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
    box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
    padding: 1px 12px;
}

.printcenter-info-notice p {
    margin: .5em 0;
    padding: 2px;
}

.printcenter-info-desc {
    display: inline-block;
    vertical-align: top;
}

.printcenter-info .printcenter-info-icon,
.printcenter-info-notice .printcenter-info-icon {
    display: inline-block;
    margin-right: 15px;
}

.printcenter-info-icon i {
    font-size: 2em;
}

.printcenter-info-desc {
    display: inline-block;
    vertical-align: top;
}

.printcenter-info.printcenter-info-normal {
    background-color: #eeeeee;
    border-color: #cccccc;
    color: #666666;
}

.printcenter-info.printcenter-info-normal i {
    color: #c5c5c5;
}

.printcenter-info.printcenter-info-warning {
    background-color: #fbeba4;
    border-color: #d7c281;
    color: #958234;
}

.printcenter-info.printcenter-info-warning i {
    color: #dcca81;
}

.printcenter-info.printcenter-info-success {
    background-color: #c4ee91;
    border-color: #71af5d;
    color: #4d7615;
}

.printcenter-info.printcenter-info-success i {
    color: #a0ca6c;
}

.printcenter-info.printcenter-info-critical {
    background-color: #fba1a3;
    border-color: #b84f5b;
    color: #981225;
}

.printcenter-info.printcenter-info-critical i {
    color: #dd767d;
}

.printcenter-info-notice.printcenter-info-normal {
    border-left: 4px solid #0099d5;
}

.printcenter-info-notice.printcenter-info-success {
    border-left: 4px solid #7ad03a;
}

.printcenter-info-notice.printcenter-info-warning {
    border-left: 4px solid #fbeba4;
}

.printcenter-info-notice.printcenter-info-critical {
    border-left: 4px solid #dd3d36;
}

/* Template tag list styles
-------------------------------------------------------------- */
.printcenter-tag-list {
    font-size: .8rem;
    margin-left: 1rem;
}

.printcenter-tag-list .printcenter-tag-list-tag {
    display: inline-block;
    width: 7rem;
    font-weight: bold;
}

.printcenter-tag-list .printcenter-tag-list-description {
    display: inline-block;
    clear: both;
}

#woocommerce-coupon-data ul.wc-tabs li.ssi_tab a:before,
#woocommerce-product-data ul.wc-tabs li.ssi_tab a:before,
.woocommerce ul.wc-tabs li.ssi_tab a:before {
	content: '\e01c';
}

/* Post type styles
-------------------------------------------------------------- */
.post-type-ssi_product #preview-action,
.post-type-ssi_product .misc-pub-visibility,
.post-type-ssi_product .misc-pub-curtime,
.post-type-ssi_product #edit-slug-box,
.post-type-website #minor-publishing,
.post-type-website #edit-slug-box {
	display: none;
}